/* app css stylesheet */
body {
  background-color: rgb(235,235,235);
  background: linear-gradient(to bottom, #FBFDFD 0%, #FAFAFA 35%) repeat scroll 0% 0% transparent;
}
p {
  text-align: justify;
}

hr {
  margin: 15px 0;
}


/*Print icon*/
div.print {
  position: relative;
}
div.print a {
  cursor: pointer;
  position: absolute;
  margin: 11px;
  right: 0;
  z-index: 100;
}
@media print {
  div.print {
    display: none;
  }
}


/*Sort BG*/
.sort {
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  background-image: url(../img/bg.gif);
}

.slanted .sort {
    background-position: right 58px;
}
.sort.sortAsc {
	background-image: url(../img/asc.gif);
}
.sort.sortDesc {
	background-image: url(../img/desc.gif);
}

/*footer images should all scale to the height of the blueprint logo, but keep their aspect ratio*/
.footer div.logo {
  text-align: center;
}
.footer div.logo:first-child {
  text-align: left;
}
.footer div.logo:last-child {
  text-align: right;
}
@media (max-width: 767px) { /* @screen-xs-max */
  .footer div.logo {
    text-align: center !important;
    margin-bottom: 15px;
  }
}
.footer  {
  font-size: 11px;
  padding-bottom: 15px;
}
.footer .right{
  text-align: right;
}

/* fixed height logo images */
img.logo {
  height: 54px;
}

/* push images in paragraphs over to the left */
p .left-image{
  margin: 0 5px 5px 0;
  float: left;
}

/*Partially collapsed facet list, overflow is used to detect if the show more button is required*/
.facet ul.list-group.collapsed{
  margin-left: -1px;
  padding-left: 1px; /* padding and margin compensate each other, but are only here to force IE 8 to redraw the ul when collapsed class is removed */
  max-height: 250px;
  overflow: hidden;
}

/*Show hide button appears in the factet title bar*/
.facet button {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Facet filter query input*/
.list-search-box{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.export-button button {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}
/*match the panel heading style*/
.facet .heading{
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

/*make it clear that facet terms do something*/
.facet .facet-term:hover{
  color:rgb(107, 174, 214);
}

.facet .facet-term {
  cursor: pointer;
}

/*make it clear that disabled facet terms do nothing*/
.facet .facet-disabled {
  color:rgb(200, 200, 200);
  cursor: default;
  
}
.facet .facet-disabled .badge {
  background-color:rgb(200, 200, 200);
}
.facet .facet-disabled:hover{
  color:rgb(200, 200, 200);
}

a.modal-link {
    color: inherit;
    margin-left: 5px;
}
.facet h3.panel-title a.modal-link {
    margin-left: 10px;
}

/*Download link symbol is a bit weedy, make it bigger and bolder*/
a.download {
  font-size: 1.3em;
  font-weight: bolder;
  text-decoration: underline;
}
/*padding for the fixed position nav bar */
body { padding-top: 60px; } 

/*angular ui bootstrap css fix see http://angular-ui.github.io/bootstrap/*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* matrix grid styles */
div.matrix-wrapper {
  padding-right: 80px; /* to prevent slanting heading to overflow out of the page */
}
html[data-useragent*='MSIE 8'] div.matrix-wrapper {
  padding-right: 0; /* not need in IE 8 since the heading are not slanting */
}
table.matrix {
    margin-top: 20px;
}
table.matrix th.matrix-dot{
  width: 25px;
  height: 80px;
  white-space: nowrap;
}
table.matrix th.matrix-dot > div {
  -ms-transform:translate(20px, 0px) rotate(315deg);
  -moz-transform:translate(20px, 0px) rotate(315deg);
  -webkit-transform:translate(20px, 0px) rotate(315deg);
  -o-transform:translate(20px, 0px) rotate(315deg);
  transform:translate(20px, 0px) rotate(315deg);
  width: inherit;
}
table.matrix th.matrix-dot > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 0px 5px 10px;
}
html[data-useragent*='MSIE 8'] table.matrix th.matrix-dot > div { /* for IE8 only */
  font-size: 65%;
  margin: 0 -8px;
  padding: 2px;
  width: auto;
}
html[data-useragent*='MSIE 8'] table.matrix th.matrix-dot > div > span {
  border: none;
  padding: 0;
}
table.matrix th.purchase-button {
  border: none;
  width: 0px;
}
table.matrix td.valign {
    vertical-align: middle;
}
table.matrix td.matrix-dot {
  text-align: center;
  border-left: thin solid #ddd;
  overflow: hidden;
}
table.matrix td.purchase-button {
  border-top: 0px;
  background-color: rgb(255, 255, 255);
  width: 110px;
}
table.matrix td.purchase-button a.btn {
  width: 100%;
}

table.matrix td.name {
  white-space: nowrap;
}

table.matrix td div.wide-td{
  max-width: 300px;
  overflow-x: scroll;
}
table.matrix td div.tall-td{
  max-height: 110px;
  overflow-y: scroll;
}
table.matrix td div.chevron span{
    font-size: 80%;
    margin-left: 50px;
}
table.matrix td div.bottom-chevron{
    margin-top: 4px;
}

table.matrix td.matrix-dot .matrix-dot-item:hover {
  background-color: #b3d4fc;
}

table.matrix td.matrix-dot .matrix-dot-item {
  text-align: center;
  margin: -8px -8px -108px;
  padding-bottom: 100px;
  line-height: 36px;
  display: block;
}
table.matrix td.matrix-dot a{
  color: #333;
  text-decoration:none;
}

table.matrix td.matrix-dot .assay{
  color: #B67E9C;
  font-size: 20px;
}
table.matrix td.matrix-dot .biosample{
  color: #99B397;
  font-size: 20px;
}
table.matrix td.matrix-dot .matrix-dot-orange{
  color: #E99D83;
  font-size: 20px;
}

/* layout for matrix and files page with fixed width lhs column */
@media (min-width: 992px) { /* @screen-md-min */
  .fixd-width-lhs {
    width: 320px;
  }

  .fixd-width-rhs {
    float: none;
    margin-left: 320px;
    width: auto;
  }
}
/* logo to replace nav bar on printed page */
.print-only-logo {
  display: none;
  padding: 0 15px 15px;
}

@media print {
  .print-only-logo {
    display: block;
  }
}
/* row with same height panels */
.flex-row, .flex-row > div[class*='col-']  {
  display: -webkit-flex;
  display: flex;
}

@media (max-width: 767px) { /* @screen-xs-max */
  .flex-row, .flex-row > div[class*='col-']  {
    display: block;
  }
}




div.item-detail-img {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
h3.item-detail-section {
    padding-top: 40px;
}

div.search-box > input {
    height: 25px;
    width: 250px;
}

ul.dropdown-menu div.checkbox {
    margin-left: 5px;
}



/* sum HipSci branding with colours */
.navbar {
    background: linear-gradient(to bottom, #E8F5FA 0%, #DBE6EA 100%) repeat scroll 0% 0% transparent;
}
.navbar-nav > .active >a {
    background-image: linear-gradient(to bottom, #E8F5FA, #F9F9F9 100%);
    color: black;
    outline: none;
    cursor: default;
}
.nav >li >a:focus {
    background-color: transparent;
}
.nav >li > a:hover {
    background-image: linear-gradient(to bottom, #E8F5FA, #F9F9F9 100%);
}
.navbar-nav a{
    color: #6D6E71;
}
.navbar-tagline h3 {
    color: #6D6E71;
    font-weight: normal;
}
.navbar .icon-bar {
    background-color: #6D6E71;
}





@media (min-width: 992px) { /* @screen-md-min */
    .navbar {
        min-height: 60px;
        border-bottom: 0px;
    }
    .navbar-brand {
        height: auto;
        margin-left: 5px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px
    }
    .nav >li >a {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .navbar-brand img {
        height: 60px;
    }
    .navbar-tagline {
        margin-top:10px;
    }
    .navbar-tagline h3 {
        margin-top: 3px;
        margin-bottom: 3px;
        padding-left: 15px;
    }
    .container-fluid > .navbar-collapse{
        margin-top:10px;
        height: auto;
    }
    .view-container {
        margin-top: 30px;
    }
}

@media (max-width: 991px) { /* @screen-md-min */
    .navbar-tagline {
        display: none;
    }
    .navbar-brand {
        height: auto;
        margin-left: 5px;
        margin-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px
    }
    .navbar-brand img {
        height: 40px;
    }
}

a.purchase-btn {
  margin-left: 30px;
}

@media (max-width: 1440px) { /* @screen-md-min */
  h1.browser-heading {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
