<div class="panel panel-default">
    <div class="panel-body">

        <h1>Donors</h1>
        <hr/>
    		<pagination 
    			total-items="ListCtrl.numHits"
    			ng-model="ListCtrl.currentPage"
                        ng-change="ListCtrl.setPage()"
    			items-per-page="ListCtrl.hitsPerPage"
    			max-size="ListCtrl.numPages"
    			class="pagination-sm" boundary-links="true" rotate="false" >
                </pagination>

                <div class="btn-group" dropdown="">
                    <button type="button" class="btn btn-primary dropdown-toggle" >
                        Export<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="ListCtrl.exportData('csv')">comma delimited .csv</a></li>
                        <li><a ng-click="ListCtrl.exportData('tsv')">tab delimited .tsv</a></li>
                    </ul>
                </div>

        <table class="donors table table-striped">
            <thead>
                <tr class="slanted">
                    <th ng-repeat="field in ListCtrl.columnHeaders" ng-bind="field"></th>
                </tr>
            </thead>
            <tr ng-repeat="donor in ListCtrl.displayResults">
                <td ng-repeat="field in ListCtrl.fields" ng-switch="field">
                    <a ng-switch-when="bioSamplesAccession" ng-href="http://www.ebi.ac.uk/biosamples/sample/{{donor[field]}}" ng-bind="donor[field]"></a>
                    <a ng-switch-when="name" ng-href="#/donors/{{donor[field]}}" ng-bind="donor[field]"></a>
                    <span ng-switch-default="" ng-bind="donor[field]"></span>

                </td>
            </tr>
        </table>

    		<pagination 
    			total-items="ListCtrl.numHits"
    			ng-model="ListCtrl.currentPage"
                        ng-change="ListCtrl.setPage()"
    			items-per-page="ListCtrl.hitsPerPage"
    			max-size="ListCtrl.numPages"
    			class="pagination-sm" boundary-links="true" rotate="false" >
                </pagination>


    </div>
</div>
