<div class="panel panel-default">
    <div class="panel-body">
    <list-panel document-type="DonorCtrl.documentType" >
    <list-init-fields fields="DonorCtrl.initFields" export-headers-map="DonorCtrl.columnHeadersMap"></list-init-fields>

        <h1>Donors</h1>
        <hr/>

        <div class="row list-panel">
            <div class="col-md-3 fixd-width-lhs">
                <facets-clear text="Clear filters"></facets-clear>
                <div class="row">
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Sex" field="sex.value" type="terms" show-no-data="true"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Ethnicity" field="ethnicity" type="terms" show-no-data="true"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Disease Status" field="diseaseStatus.value" type="terms"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Age" field="age" type="terms" show-no-data="true"></aggs-filter>
                </div>
                </div>
            </div>
            <div class="col-md-9 fixd-width-rhs">
                <div class="alert alert-danger" role="alert" ng-if="ListPanelCtrl.apiError">
                    <span class="glyphicon glyphicon-exclamation-sign" ></span>
                    <span>Server error: {{ListPanelCtrl.apiStatus}} {{ListPanelCtrl.apiStatusText}}</span>
                </div>
    		<list-pagination></list-pagination>

                <div class="export-button btn-group pull-right" dropdown="">
                    <button type="button" class="btn btn-primary dropdown-toggle" >
                        Export<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="ListPanelCtrl.exportData('csv')">comma delimited .csv</a></li>
                        <li><a ng-click="ListPanelCtrl.exportData('tsv')">tab delimited .tsv</a></li>
                    </ul>
                </div>
                <div class="list-search-box">
                    <list-search-box></list-search-box>
                </div>

            <div class="matrix-wrapper table-responsive">
                <list-table class="matrix table table-striped" compile-head="DonorCtrl.compileHead" compile-row="DonorCtrl.compileRow" process-hit-fields="DonorCtrl.processHitFields"
                        default-sort-fields="[['_score', false],['assays.count',false]]">
                </list-table>
            </div>

    		<list-pagination></list-pagination>
            </div>

        </div>
    </list-panel>
    </div>
</div>
