<div class="panel panel-default">
    <div class="panel-body">

<h1 ng-bind="data.name"></h1>

    <div class="row">
        <div class="col-md-12">
        <dl class="dl-horizontal item-detail">

            <div>
            <dt>Available cell lines ({{data.cellLines.length}}):</dt>
            <dd ng-repeat="ipsc in data.cellLines"><a ng-href="#/lines/{{ipsc}}" ng-bind="ipsc"></a></dd>
            </div>


            <div ng-if="data.diseaseStatus">
            <dt>Disease status:</dt>
            <dd ng-bind="data.diseaseStatus"></dd>
            </div>

            <div ng-if="data.age">
            <dt>Age:</dt>
            <dd ng-bind="data.age"></dd>
            </div>

            <div ng-if="data.ethnicity">
            <dt>Ethnicity:</dt>
            <dd ng-bind="data.ethnicity"></dd>
            </div>

            <div ng-if="data.sex">
            <dt>Sex:</dt>
            <dd ng-bind="data.sex"></dd>
            </div>

            <div ng-if="data.bioSamplesAccession">
            <dt>Biosample:</dt>
            <dd><a ng-href="http://www.ebi.ac.uk/biosamples/sample/{{data.bioSamplesAccession}}" ng-bind="data.bioSamplesAccession" target="_blank"></a></dd>
            </div>

        </dl>
        </div>
    </div>

    </div>
</div>
