<div class="panel panel-default">
    <div class="panel-body">

        <h1>Donors</h1>
        <hr/>
    		<pagination 
    			total-items="numHits"
    			ng-model="currentPage"
                        ng-change="setDisplayResults()"
    			items-per-page="searchParams.size"
    			max-size="numPages"
    			class="pagination-sm" boundary-links="true" rotate="false" >
                </pagination>

        <table class="donors table table-striped">
            <thead>
                <tr class="slanted">
                    <th ng-repeat="field in searchParams.columnHeaders">{{field}}</th>
                </tr>
            </thead>
            <tr ng-repeat="donor in displayResults">
                <td ng-repeat="field in searchParams.fields" ng-switch="field">
                    <a ng-switch-when="bioSamplesAccession" href="http://www.ebi.ac.uk/biosamples/sample/{{donor[field]}}">{{donor[field]}}</a>
                    <a ng-switch-when="name" href="#/donors/{{donor[field]}}">{{donor[field]}}</a>
                    <span ng-switch-default="">{{donor[field]}}</span>

                </td>
            </tr>
        </table>

    		<pagination 
    			total-items="numHits"
    			ng-model="currentPage"
                        ng-change="setDisplayResults()"
    			items-per-page="searchParams.size"
    			max-size="numPages"
    			class="pagination-sm" boundary-links="true" rotate="false" >
                </pagination>


            <button ng-click="exportData('csv')">Export as csv</button>
            <button ng-click="exportData('tsv')">Export as tsv</button>

    </div>
</div>
