<div class="panel panel-default">
    <div class="panel-body">

<h1 ng-bind="donorName"></h1>
<hr/>

        <div ng-if="apiError">
            <span>API response: {{apiStatus}} {{apiStatusText}}</span>
        </div>

        <div ng-if="apiSuccess">
        <dl class="dl-horizontal">
            <dt>Available cell lines ({{data.cellLines.length}}):</dt>
            <dd><div ng-repeat="ipsc in data.cellLines"><a ng-href="#/lines/{{ipsc}}" ng-bind="ipsc"></a></div></dd>
            
            <div ng-if="data.diseaseStatus">
                <dt>Disease Status:</dt>
                <dd ng-bind="data.diseaseStatus"></dd>
            </div>

            <div ng-if="data.age">
                <dt>Age:</dt>
                <dd ng-bind="data.age"></dd>
            </div>

            <div ng-if="data.ethnicity">
                <dt>Ethnicity:</dt>
                <dd ng-bind="data.ethnicity"></dd>
            </div>

            <div ng-if="data.sex">
                <dt>Sex:</dt>
                <dd ng-bind="data.sex"></dd>
            </div>

            <div ng-if="data.bioSamplesAccession">
                <dt>Biosample:</dt>
                <dd><a ng-href="http://www.ebi.ac.uk/biosamples/sample/{{data.bioSamplesAccession}}" ng-bind="data.bioSamplesAccession" target="_blank"></a></dd>
            </div>
        </dl>
        </div>

    </div>
</div>
