<div class="panel panel-default">
    <div class="panel-body">
        <h1>Cell Lines</h1>
        <hr/>
        <div class="row">
            <div class = "col-md-12">
            <div class="row">
            <div class = "col-md-4">
                <pagination 
                        total-items="numHits"
                        ng-model="currentPage"
                        ng-change="setDisplayResults()"
                        items-per-page="searchParams.size"
                        max-size="numPages"
                        class="pagination-sm" boundary-links="true" rotate="false">
                </pagination>
            </div>
            <div class = "col-md-1">

                <div class="btn-group" dropdown="">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" >
                        Export<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="exportData('csv')">comma delimited .csv</li>
                        <li ng-click="exportData('tsv')">tab delimited .tsv</li>
                    </ul>
                </div>
            </div>
            </div>

                <table class="cellLines table table-striped">
                    <thead>
                        <tr class="slanted">
                            <th ng-repeat="field in searchParams.columnHeaders">{{field}}</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="cellLine in displayResults">
                        <td ng-repeat="field in searchParams.fields" ng-switch="field">
                            <a ng-switch-when="bioSamplesAccession" href="http://www.ebi.ac.uk/biosamples/sample/{{cellLine[field]}}">{{cellLine[field]}}</a>
                            <a ng-switch-when="name" href="#/lines/{{cellLine[field]}}">{{cellLine[field]}}</a>
                            <a ng-switch-when="donor" href="#/donors/{{cellLine[field]}}">{{cellLine[field]}}</a>
                            <span ng-switch-default="">{{cellLine[field]}}</span>

                        </td>
                    </tr>
                </table>

                <pagination 
                        total-items="numHits"
                        ng-model="currentPage"
                        ng-change="setDisplayResults()"
                        items-per-page="searchParams.size"
                        max-size="numPages"
                        class="pagination-sm" boundary-links="true" rotate="false" >
                </pagination>
            </div>

        </div>

    </div>
</div>
