<div class="panel panel-default">
    <div class="panel-body">

    <h1 ng-bind="data.name"></h1>

    <div class="row">
        <div class="col-md-12">
        <dl class="dl-horizontal item-detail">

            <div ng-if="data.sourceMaterial">
            <dt>Source Material:</dt>
            <dd ng-bind="data.sourceMaterial"></dd>
            </div>

            <div ng-if="data.tissueProvider">
            <dt>Tissue Provider:</dt>
            <dd ng-bind="data.tissueProvider"></dd>
            </div>
            
            <div ng-if="data.dateOfDerivation">
            <dt>Date of derivation:</dt>
            <dd ng-bind="data.dateOfDerivation"></dd>
            </div>

            <div ng-if="data.growingConditions">
            <dt>Growing conditions:</dt>
            <dd ng-bind="data.growingConditions"></dd>
            </div>

            <div ng-if="data.donor">
            <dt>Donor:</dt>
            <dd><a ng-href="#/donors/{{data.donor}}" ng-bind="data.donor"></a></dd>
            </div>

            <div ng-if="data.donorAge">
            <dt>Donor age:</dt>
            <dd ng-bind="data.donorAge"></dd>
            </div>

            <div ng-if="data.donorEthnicity">
            <dt>Donor ethnicity:</dt>
            <dd ng-bind="data.donorEthnicity"></dd>
            </div>

            <div ng-if="data.bioSamplesAccession">
            <dt>Biosample:</dt>
            <dd><a ng-href="http://www.ebi.ac.uk/biosamples/sample/{{data.bioSamplesAccession}}" ng-bind="data.bioSamplesAccession" target="_blank"></a></dd>
            </div>

        </dl>
        </div>
    </div>

    </div>
</div>
