<div class="panel panel-default"><div class="panel-body">

<div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"
      ng-bind-html="CohortCtrl.mdContent | markdown"></div></div>
  <div ng-if="CohortCtrl.apiError">
      <span>API response: {{CohortCtrl.apiStatus}} {{CohortCtrl.apiStatusText}}</span>
  </div>

  <hr/>

    <list-panel ng-if="CohortCtrl.disease" document-type="CohortCtrl.documentType" export-filename="CohortCtrl.exportFilename">
      <list-init-fields html-fields="CohortCtrl.fields" export-fields="CohortCtrl.fields"></list-init-fields>
      <invisible-filter field="calculated.bankingStatus" term="'Selected for banking'" active="CohortCtrl.tickedPublishFilter"></invisible-filter>
      <invisible-filter field="diseaseStatus.value" term="CohortCtrl.disease"></invisible-filter>
        <div class="row list-panel">
            <div class="col-md-3 fixd-width-lhs">
                <facets-clear text="Clear filters"></facets-clear>
                <form><div class="form-group">
                <div class="checkbox"><input type="checkbox" ng-model="CohortCtrl.tickedPublishFilter"></input> Display only lines that are selected for banking</div>
                </div></form>
                <div class="row">
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Banking availability" field="calculated.bankingStatus" modal-md="banking_status" sort-function="CohortCtrl.bankingSortFn"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12" ng-if="CohortCtrl.disease === 'Normal'">
                <aggs-filter title="Data Access" field="calculated.access" modal-md="access"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Assays" field="assays.name" multi-boolean="and" modal-md="assays"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Source Material" field="sourceMaterial.value"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Age" field="donor.age.indexed"></aggs-filter>
                </div>
                </div>
            </div>
            <div class="col-md-9 fixd-width-rhs">
                <list-error-alert></list-error-alert>
    		<list-pagination></list-pagination>

                <div class="export-button btn-group pull-right" dropdown="">
                    <button type="button" class="btn btn-primary dropdown-toggle" >
                        Export<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="exportData('csv')">comma delimited .csv</a></li>
                        <li><a ng-click="exportData('tsv')">tab delimited .tsv</a></li>
                    </ul>
                </div>
                <div class="export-button btn-group pull-right">
                    <list-select-columns></list-select-columns>
                </div>
                <div class="list-search-box">
                    <list-search-box label="Search cell lines"></list-search-box>
                </div>

            <div class="table-responsive cohort-table">
                <list-table class="matrix table table-striped" process-hit-fields="CohortCtrl.processHitFields" compile-params="{assays: CohortCtrl.assays}"
                        default-sort-fields="[['_score', false],['calculated.assayCount',false],['bankingStatus', true]]" tr-class="slanted">
                </list-table>
            </div>

    		<list-pagination></list-pagination>
            </div>

        </div>

    </list-panel>

</div></div>
