<div class="panel panel-default">
    <div class="panel-body">

<h1 class="data-portal-block" ng-bind="donorName"></h1>
<h2 class="data-portal-block">HipSci tissue donor</h2>
<hr/>

        <div ng-if="apiError">
            <span>API response: {{apiStatus}} {{apiStatusText}}</span>
        </div>

        <div ng-if="apiSuccess">
        <dl class="dl-horizontal">
            
            <div ng-if="data.diseaseStatus.value">
                <dt>Disease status:</dt>
                <dd ng-bind="data.diseaseStatus.value"></dd>
            </div>

            <div ng-if="data.age">
                <dt>Age:</dt>
                <dd ng-bind="data.age"></dd>
            </div>

            <div ng-if="data.ethnicity">
                <dt>Ethnicity:</dt>
                <dd ng-bind="data.ethnicity"></dd>
            </div>

            <div ng-if="data.sex.value">
                <dt>Sex:</dt>
                <dd ng-bind="data.sex.value"></dd>
            </div>

            <div ng-if="data.bioSamplesAccession">
                <dt>Biosample:</dt>
                <dd><a ng-href="http://www.ebi.ac.uk/biosamples/sample/{{data.bioSamplesAccession}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.bioSamplesAccession"></span></a></dd>
            </div>

            <div ng-if="data.tissueProvider">
                <dt>Tissue provider:</dt>
                <dd ng-bind="data.tissueProvider"></dd>
            </div>
        </dl>

        <section>
        <h3 class="data-portal-block item-detail-section">iPS cell lines derived from {{donorName}}</h3>
        <hr/>
            <div ng-if="data.bankingStatus.hasOwnProperty('banked')">
            <dl class="dl-horizontal">
                <dt>Banked lines ({{data.bankingStatus.banked.length}}):</dt>
                <dd><div ng-repeat="ipsc in data.bankingStatus.banked | orderBy:identity "><a ng-href="#/lines/{{ipsc}}" ng-bind="ipsc"></a></div></dd>
            </dl>
            </div>
            <div ng-if="data.bankingStatus.hasOwnProperty('selected')">
            <dl class="dl-horizontal">
                <dt>Selected for banking ({{data.bankingStatus.selected.length}}):</dt>
                <dd><div ng-repeat="ipsc in data.bankingStatus.selected | orderBy:identity "><a ng-href="#/lines/{{ipsc}}" ng-bind="ipsc"></a></div></dd>
            </dl>
            </div>
            <div ng-if="data.bankingStatus.hasOwnProperty('pending')">
            <dl class="dl-horizontal">
                <dt>Pending decision on selection ({{data.bankingStatus.pending.length}}):</dt>
                <dd><div ng-repeat="ipsc in data.bankingStatus.pending | orderBy:identity "><a ng-href="#/lines/{{ipsc}}" ng-bind="ipsc"></a></div></dd>
            </dl>
            </div>
            <div ng-if="data.bankingStatus.hasOwnProperty('notselected')">
            <dl class="dl-horizontal">
                <dt>Not selected for banking ({{data.bankingStatus.notselected.length}}):</dt>
                <dd><div ng-repeat="ipsc in data.bankingStatus.notselected | orderBy:identity "><a ng-href="#/lines/{{ipsc}}" ng-bind="ipsc"></a></div></dd>
            </dl>
            </div>
        </section>
        </div>

    </div>
</div>
