<div class="panel panel-default">
    <div class="panel-body">

    <h1><span ng-bind="ipscName"></span>
    <a role="button" class="btn btn-primary purchase-btn" ng-if="data.purchaseUrl" ng-href="{{data.purchaseUrl}}" target="_blank">Purchase <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
    </h1>
    <h2>HipSci cell line</h2>
    <hr/>

        <div ng-if="apiError">
            <span>API response: {{apiStatus}} {{apiStatusText}}</span>
        </div>

        <div ng-if="apiSuccess">
        <section>
        <dl class="dl-horizontal">

            <div ng-if="data.cellType.value">
                <dt>Cell line type:</dt>
                <dd ng-bind="data.cellType.value"></dd>
            </div>

            <div ng-if="data.bankingStatus.length"><div ng-repeat="status in data.bankingStatus">
                <dt><span ng-if="$first">Banking status:</span></dt>
                <dd>
                    <a ng-if="status.url" ng-href="{{status.url}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="status.text"></span></a>
                    <span ng-if="!status.url" ng-bind="status.text"></span>
                    <md-modal ng-if="$last" modal-md="banking_status" title="Banked status"></md-modal>
                </dd>
            </div></div>

            <div ng-if="data.donor.name">
                <dt>Donor:</dt>
                <dd><a ng-href="#/donors/{{data.donor.name}}" ng-bind="data.donor.name"></a></dd>
            </div>

            <div ng-if="data.diseaseStatus.value">
                <dt>Disease status:</dt>
                <dd><span ng-bind="data.diseaseStatus.value"></span><md-modal modal-md="disease" title="Disease status"></md-modal></dd>
            </div>

            <div ng-if="data.sourceMaterial.value">
                <dt>Source material:</dt>
                <dd ng-bind="data.sourceMaterial.value"></dd>
            </div>

            <div ng-if="data.tissueProvider">
                <dt>Tissue provider:</dt>
                <dd ng-bind="data.tissueProvider"></dd>
            </div>

            <div ng-if="data.reprogramming.methodOfDerivation">
                <dt>Method of derivation:</dt>
                <dd ng-bind="data.reprogramming.methodOfDerivation"></dd>
            </div>

            <div ng-if="data.reprogramming.dateOfDerivation">
                <dt>Date of derivation:</dt>
                <dd ng-bind="data.reprogramming.dateOfDerivation"></dd>
            </div>

            <div ng-if="data.donor.age">
                <dt>Donor age:</dt>
                <dd ng-bind="data.donor.age"></dd>
            </div>

            <div ng-if="data.donor.ethnicity">
                <dt>Donor ethnicity:</dt>
                <dd ng-bind="data.donor.ethnicity"></dd>
            </div>

            <div ng-if="data.donor.sex.value">
                <dt>Donor sex:</dt>
                <dd ng-bind="data.donor.sex.value"></dd>
            </div>

            <div ng-if="data.bioSamplesAccession">
                <dt>Biosample:</dt>
                <dd><a data-toggle="tooltip" title="test" ng-href="http://www.ebi.ac.uk/biosamples/sample/{{data.bioSamplesAccession}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.bioSamplesAccession"></span></a></dd>
            </div>

            <div ng-if="data.certificateOfAnalysis.url">
                <dt>Certificate of analysis:</dt>
                <dd><a ng-href="{{data.certificateOfAnalysis.url}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> PDF</a></dd>
            </div>
        </dl>
        </section>

        <section ng-if="data.assays">
        <h3 class="item-detail-section">Genomic assay files</h3>
        <hr/>

        <div class="row" ng-controller="FileListCtrl as FileCtrl">
        <list-panel document-type="FileCtrl.documentType" >
        <list-init-fields html-fields="LineCtrl.fileFields" export-fields="FileCtrl.exportFields"></list-init-fields>
        <invisible-filter field="samples.name" term="ipscName"></invisible-filter>

        <list-error-alert></list-error-alert>

        <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                <div class="export-button btn-group pull-right" dropdown="">
            <list-select-columns></list-select-columns>
            </div>
                <div class="export-button btn-group pull-right" dropdown="">
            <button type="button" class="btn btn-primary dropdown-toggle" >
                Export file list<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="exportData('csv')">comma delimited .csv</a></li>
                <li><a ng-click="exportData('tsv')">tab delimited .tsv</a></li>
            </ul>
            </div>

                <div class="table-responsive">
                    <list-table class="matrix table table-striped"  process-hit-fields="LineCtrl.processHitFields"
                            default-sort-fields="[['assay.type',true], ['calculated.sampleCountScore', false]]">
                    </list-table>
                </div>
        </div>

        </list-panel>
        </div>

        </section>

      <section ng-if="peptrackerUrl">
      <h3 class="item-detail-section">Encyclopedia of Protein Dynamics</h3>
      <hr/>
      <div class="row"><div class="col-md-8 col-lg-8 col-sm-10 col-md-offset-2 col-lg-offset-2 col-sm-offset-1">
      <p>Mass spectrometry data from {{ipscName}} has been analyzed in the <a ng-href="{{peptrackerUrl}}" target="_blank">Encyclopedia of Protein Dynamics</a></p>
      <ol>
        <li>View the <a ng-href="{{peptrackerUrl}}" target="_blank">HipSci data</a> at the Encyclopedia of Protein Dynamics</li>
        <li>Click on a bubble to view the bubble plot or histogram of peptide abundances</li>
        <li>Select this cell line from the drop down list</li>
      </ol>
      </div></div>
      </section>


        <section ng-if="data.pluritest">
        <h3 class="item-detail-section">Pluritest assessment for pluripotency</h3>
        <hr/>
        <dl class="dl-horizontal">
            <div ng-if="data.pluritest.hasOwnProperty('pluripotency')">
                <dt>Pluripotency score:</dt>
                <dd ng-bind="data.pluritest.pluripotency"></dd>
            </div>
            <div ng-if="data.pluritest.hasOwnProperty('novelty')">
                <dt>Novelty score:</dt>
                <dd ng-bind="data.pluritest.novelty"></dd>
            </div>
        </dl>

        <div class="row">
        <div class="col-md-6" ng-if="data.pluritest.hasOwnProperty('pluripotency_image')">
            <div class="item-detail-img">
            <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{data.pluritest.pluripotency_image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{data.pluritest.pluripotency_image}}" alt="Pluritest pluripotency plot"></img></a>
            </div>
        </div>
        <div class="col-md-6" ng-if="data.pluritest.hasOwnProperty('novelty_image')">
            <div class="item-detail-img">
            <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{data.pluritest.novelty_image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{data.pluritest.novelty_image}}" alt="Pluritest novelty plot"></img></a>
            </div>
        </div>
        </div>
        </section>

        <section ng-if="data.cnv">
        <h3 class="item-detail-section">Custom CNV check<md-modal modal-md="cnv-check" title="Custom CNV check"></md-modal></h3>
        <hr/>
        <div class="row">

        <div class="alert alert-danger col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-if="data.cnv.hasOwnProperty('comments')">
          <div ng-repeat="comment in data.cnv.comments"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{comment}}</div>
        </div>

        <div class="col-md-12">
          <dl class="dl-horizontal dl-horizontal-wide">
              <div ng-if="data.cnv.hasOwnProperty('num_different_regions')">
                  <dt>Number of regions different from primary tissue:</dt>
                  <dd ng-bind="data.cnv.num_different_regions"></dd>
              </div>
              <div ng-if="data.cnv.hasOwnProperty('length_different_regions_Mbp')">
                  <dt>Length of differences from primary tissue:</dt>
                  <dd><span ng-bind="data.cnv.length_different_regions_Mbp"></span> Mbp</dd>
              </div>
          </dl>
        </col>

        <div class="col-md-6" ng-if="data.cnv.summary_image">
            <div class="item-detail-img">
            <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{data.cnv.summary_image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{data.cnv.summary_image}}" alt="CNV summary"></img></a>
            </div>
        </div>
        <div class="col-md-6" ng-repeat="image in data.cnv.aberrant_images">
            <div class="item-detail-img">
            <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{image}}" alt="CNV aberrant region plot"></img></a>
            </div>
        </div>
        </div>
        </section>

        </div>





    </div>
</div>
