<div class="panel panel-default">
<div class="panel-body">

    <h1><span ng-bind="assay"></span> data files for <span ng-bind="ipscName"></span></h1>
    <hr/>

        <div ng-if="apiError">
            <span>API response: {{apiStatus}} {{apiStatusText}}</span>
        </div>

    <div ng-if="apiSuccess">
    <section>
        <dl class="dl-horizontal">
            <dt>HipSci cell line:</dt>
            <dd><a ng-bind="ipscName" ng-href="#/lines/{{ipscName}}"></a></dd>
            <div ng-if="lineData.cellType.value">
                <dt>Cell line type:</dt>
                <dd ng-bind="lineData.cellType.value"></dd>
            </div>

            <div ng-if="lineData.bankingStatus.length">
                <dt>Banking status:</dt>
                <dd><span ng-bind="lineData.bankingStatus.join(', ')"></span><md-modal modal-md="banking_status" title="Banked status"></md-modal></dd>
            </div>

            <div ng-if="lineData.donor.name">
                <dt>Donor:</dt>
                <dd><a ng-href="#/donors/{{lineData.donor.name}}" ng-bind="lineData.donor.name"></a></dd>
            </div>

            <div ng-if="lineData.diseaseStatus.value">
                <dt>Disease status:</dt>
                <dd ng-bind="lineData.diseaseStatus.value"></dd>
            </div>

            <div ng-if="lineData.sourceMaterial.value">
                <dt>Source material:</dt>
                <dd ng-bind="lineData.sourceMaterial.value"></dd>
            </div>

            <div ng-if="lineData.tissueProvider">
                <dt>Tissue provider:</dt>
                <dd ng-bind="lineData.tissueProvider"></dd>
            </div>

            <div ng-if="lineData.reprogramming.methodOfDerivation">
                <dt>Method of derivation:</dt>
                <dd ng-bind="lineData.reprogramming.methodOfDerivation"></dd>
            </div>

            <div ng-if="lineData.reprogramming.dateOfDerivation">
                <dt>Date of derivation:</dt>
                <dd ng-bind="lineData.reprogramming.dateOfDerivation"></dd>
            </div>

            <div ng-if="lineData.donor.age">
                <dt>Donor age:</dt>
                <dd ng-bind="lineData.donor.age"></dd>
            </div>

            <div ng-if="lineData.donor.ethnicity">
                <dt>Donor ethnicity:</dt>
                <dd ng-bind="lineData.donor.ethnicity"></dd>
            </div>

            <div ng-if="lineData.donor.sex.value">
                <dt>Donor sex:</dt>
                <dd ng-bind="lineData.donor.sex.value"></dd>
            </div>

            <div ng-if="lineData.bioSamplesAccession">
                <dt>Biosample:</dt>
                <dd><a data-toggle="tooltip" title="test" ng-href="http://www.ebi.ac.uk/biosamples/sample/{{lineData.bioSamplesAccession}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="lineData.bioSamplesAccession"></span></a></dd>
            </div>

            <div ng-if="lineData.certificateOfAnalysis.url">
                <dt>Certificate of analysis:</dt>
                <dd><a ng-href="{{lineData.certificateOfAnalysis.url}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> PDF</a></dd>
            </div>
        </dl>
    </section>

    <section ng-if="peptrackerUrl">
    <h3 class="item-detail-section">Encyclopedia of Protein Dynamics</h3>
    <hr/>
    <div class="row"><div class="col-md-8 col-lg-8 col-sm-10 col-md-offset-2 col-lg-offset-2 col-sm-offset-1">
    <p>Mass spectrometry data from {{ipscName}} has been analyzed in the <a ng-href="{{peptrackerUrl}}" target="_blank">Encyclopedia of Protein Dynamics</a></p>
    <ol>
      <li>View the <a ng-href="{{peptrackerUrl}}" target="_blank">HipSci data</a> at the Encyclopedia of Protein Dynamics</li>
      <li>Click on a bubble to view the bubble plot or histogram of peptide abundances</li>
      <li>Select this cell line from the drop down list</li>
    </ol>
    </div></div>
    </section>

    </div>

    <section ng-repeat="fileGroup in files">
    <h3 class="item-detail-section" ng-bind="fileGroup._source.description"></h3>
    <hr/>
    <dl class="dl-horizontal">
    <div ng-if="fileGroup._source.assay.hasOwnProperty('type')">
        <dt>Assay:</dt>
        <dd><span ng-bind="fileGroup._source.assay.type"></span><md-modal modal-md="assays" title="Assays"></md-modal></dd>
    </div>
    <div ng-if="fileGroup._source.hasOwnProperty('description')">
        <dt>Description:</dt>
        <dd ng-bind="fileGroup._source.description"></dd>
    </div>
    <div ng-if="fileGroup._source.assay.hasOwnProperty('instrument')">
        <dt>Instrument:</dt>
        <dd ng-bind="fileGroup._source.assay.instrument"></dd>
    </div>
    <div ng-if="fileGroup._source.archive.hasOwnProperty('name')">
        <dt>Archive:</dt>
        <dd ng-if="!fileGroup._source.archive.openAccess">
            <a href="" ng-click="showEGAModal(fileGroup._source.archive)"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="fileGroup._source.archive.name"></span></a>
            <md-modal modal-md="files-access" title="Data access"></md-modal>
        </dd>
        <dd ng-if="fileGroup._source.archive.openAccess">
            <a ng-href="{{fileGroup._source.archive.url}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="fileGroup._source.archive.name"></span></a>
        </dd>
    </div>
    <div ng-if="fileGroup._source.archive.hasOwnProperty('accession')">
        <dt><span ng-bind="fileGroup._source.archive.name"></span> <span ng-bind="fileGroup._source.archive.accessionType"></span>:</dt>
        <dd ng-if="!fileGroup._source.archive.openAccess">
            <a href="" ng-click="showEGAModal(fileGroup._source.archive)"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="fileGroup._source.archive.accession"></span></a>
        </dd>
        <dd ng-if="fileGroup._source.archive.openAccess">
            <a ng-href="{{fileGroup._source.archive.url}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="fileGroup._source.archive.accession"></span></a>
        </dd>
    </div>
    <div ng-repeat="file in fileGroup._source.files">
        <dt><span ng-bind="file.type"></span> file:</dt>
        <dd ng-if="fileGroup._source.archive.openAccess"><a ng-href="{{fileGroup._source.archive.ftpUrl}}" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> <span ng-bind="file.name"></span></a></dd>
        <dd ng-if="!fileGroup._source.archive.openAccess" ng-bind="file.name"></dd>
    </div>
    <div ng-if="fileGroup.growingConditions">
        <dt>Growing conditions:</dt>
        <dd ng-bind="fileGroup.growingConditions"></dd>
    </div>
    <div ng-if="fileGroup.passageNumber">
        <dt>Passage number:</dt>
        <dd ng-bind="fileGroup.passageNumber"></dd>
    </div>
    </dl>

    </section>

</div>
</div>
