<div class="panel panel-default">
    <div class="panel-body">
    <list-panel document-type="LineCtrl.documentType" export-filename="LineCtrl.exportFilename">
    <list-init-fields html-fields="LineCtrl.fields" export-fields="LineCtrl.fields"></list-init-fields>
    <invisible-filter field="calculated.bankingStatus" term="'Selected for banking'" active="LineCtrl.tickedPublishFilter"></invisible-filter>
        <h1>Cell Lines</h1>
        <hr/>
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p>For new users of our iPSC resource, we have composed two panels of lines from the HipSci iPSC collection that we would recommend. These lines have been selected based on their high pluritest scores, low CNV’s, comprehensively characterised assay data, and their ability to differentiate.<p>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-3 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h4>Feeder-free panel</h4>
    <table class="table table-striped table-condensed">
    <tr ng-repeat="line in LineCtrl.panelLines.ff" >
      <td ng-bind="line.name" ng-href="#/lines/{{line.name}}"></td>
      <td class="purchase-button"><a class="btn btn-sm btn-primary" ng-href="http://www.phe-culturecollections.org.uk/products/celllines/ipsc/detail.jsp?refId={{line.ecaccId}}&collection=ecacc_ipsc" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Purchase</a></td>
    </tr>
    </table>
    </div>
    <div class="col-log-6 col-log-offset-1 col-lg-3 col-lg-offset-2 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <h4>Feeder dependent panel</h4>
    <table class="table table-striped table-condensed">
    <tr ng-repeat="line in LineCtrl.panelLines.fd" >
      <td ng-bind="line.name" ng-href="#/lines/{{line.name}}"></td>
      <td class="purchase-button"><a class="btn btn-sm btn-primary" ng-href="http://www.phe-culturecollections.org.uk/products/celllines/ipsc/detail.jsp?refId={{line.ecaccId}}&collection=ecacc_ipsc" target="_blank"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Purchase</a></td>
    </tr>
    </table>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <p>These lines are available to order as individual lines, but will also be available to order as a panel pack in the near future.</p>
    </div>
    </div>

    <hr/>
        <div class="row list-panel">
            <div class="col-md-3 fixd-width-lhs">
                <facets-clear text="Clear filters"></facets-clear>
                <form><div class="form-group">
                <div class="checkbox"><input type="checkbox" ng-model="LineCtrl.tickedPublishFilter"></input> Display only lines that are selected for banking</div>
                </div></form>
                <div class="row">
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Banking availability" field="calculated.bankingStatus" modal-md="banking_status" sort-function="LineCtrl.bankingSortFn"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Data Access" field="calculated.access" modal-md="access"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Assays" field="assays.name" multi-boolean="and" modal-md="assays"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Source Material" field="sourceMaterial.value"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Disease Status" field="diseaseStatus.value" modal-md="disease"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Age" field="donor.age.indexed"></aggs-filter>
                </div>
                <div class="col-sm-6 col-md-12">
                <aggs-filter title="Tissue Provider" field="tissueProvider"></aggs-filter>
                </div>
                </div>
            </div>
            <div class="col-md-9 fixd-width-rhs">
                <list-error-alert></list-error-alert>
    		<list-pagination></list-pagination>

                <div class="export-button btn-group pull-right" dropdown="">
                    <button type="button" class="btn btn-primary dropdown-toggle" >
                        Export<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="exportData('csv')">comma delimited .csv</a></li>
                        <li><a ng-click="exportData('tsv')">tab delimited .tsv</a></li>
                    </ul>
                </div>
                <div class="export-button btn-group pull-right">
                    <list-select-columns></list-select-columns>
                </div>
                <div class="list-search-box">
                    <list-search-box label="Search cell lines"></list-search-box>
                </div>

            <div class="table-responsive">
                <list-table class="matrix table table-striped" process-hit-fields="LineCtrl.processHitFields" compile-params="{assays: LineCtrl.assays}"
                        default-sort-fields="[['_score', false],['calculated.assayCount',false],['bankingStatus', true]]" tr-class="slanted">
                </list-table>
            </div>

    		<list-pagination></list-pagination>
            </div>

        </div>

    </list-panel>
    </div>
</div>
