<div id="topmenu"><div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-3" id="logo">
      <a href="/" alt="HipSci"> <img src="img/logo.png" alt="HipSci" ></a>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-9" id="menu">
      <button class="btn" ng-click="toggleCollapse('menu')">Menu</button>
      <form ng-submit="submit()" class="form-inline">
        <div class="form-group"><input type="text" ng-model="searchTerm" name="text" class="form-control"></div>
        <div class="form-group"><input type="image" name="submit" src="img/icos.png"></div>
      </form>
      <div class="clearfix visible-xs-block"></div>
      <nav><ul class="menu-1" ng-class="isCollapsed('menu') ? 'menu-collapse' : ''">
        <li class="has-dropdown">
          <a href="/">Home</a>
          <button class="btn" ng-click="toggleCollapse('home')">Home</button>
          <ul ng-class="isCollapsed('home') ? 'menu-collapse' : ''">
            <li><a href="/">Home</a></li>
            <li><a href="/#abouthomewide">About HipSci</a></li>
            <li><a href="/#news">News</a></li>
            <li><a href="/#homepipeline">HipSci Workflow</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="/about">About Us</a>
          <button class="btn" ng-click="toggleCollapse('about')">About Us</button>
          <ul ng-class="isCollapsed('about') ? 'menu-collapse' : ''">
            <li><a href="/about">About Us</a></li>
            <li><a href="/about#teamtext">Investigators</a></li>
            <li><a href="/about#funders">Funders and partners</a></li>
            <li><a href="/about#news">News</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="/lines">Cell lines</a>
          <button class="btn" ng-click="toggleCollapse('lines')">Cell Lines</button>
          <ul ng-class="isCollapsed('lines') ? 'menu-collapse' : ''">
            <li><a href="/celllines">Cell lines</a></li>
            <li><a href="/celllines#isotype">Cohorts</a></li>
            <li class="has-dropdown">
              <a href="/celllines#celllinesusewide">Using HipSci lines for your research</a>
              <button class="btn" ng-click="toggleCollapse('usingLines')">Using HipSci lines for your research</button>
              <ul ng-class="isCollapsed('usingLines') ? 'menu-collapse' : ''">
                <li><a href="/celllines#celllinesusewide">Purchase lines</a></li>
                <li><a href="/celllines#vids">Navigation our cell line browser</a></li>
                <li><a href="/celllines#vids">Culturing feeder free lines</a></li>
                <li><a href="/celllines#vids">Culturing feeder dependent lines</a></li>
                <li><a href="/celllines#vids">Trouble shooting iPSC culture</a></li>
              </ul>
            </li>
            <li><a href="/lines#faq">FAQs on cell lines</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="/data">Data</a>
          <button class="btn" ng-click="toggleCollapse('data')">Data</button>
          <ul ng-class="isCollapsed('data') ? 'menu-collapse' : ''">
            <li><a href="/data">Data</a></li>
            <li><a href="/data#isotype">Assays</a></li>
            <li class="has-dropdown">
              <a href="/data#datausewide">Using HipSci data for your research</a>
              <button class="btn" ng-click="toggleCollapse('usingData')">Using HipSci data for your research</button>
              <ul ng-class="isCollapsed('usingData') ? 'menu-collapse' : ''">
                <li><a href="/data#datausewide">The data - an overview</a></li>
                <li><a href="/data#datausewide">How to apply for managed access data</a></li>
                <li><a href="/data#datausewide">Finding and downloading data</a></li>
              </ul>
            </li>
            <li><a href="/data#faq">FAQs on data</a></li>
          </ul>
        </li>
      </ul></nav>
    </div>
  </div>
</div></div>
