<div class="col-md-10 col-sm-10 col-xs-9" id="menu">
  <form ng-submit="submit()" class="form-inline">
    <div class="form-group"><input type="text" ng-model="searchTerm" name="text" class="form-control"></div>
    <div class="form-group"><input type="image" name="submit" src="img/icos.png"></div>
  </form>
  <button class="btn" ng-click="toggleCollapse('menu')">Menu</button>
  <div class="clearfix small-menu-clearfix"></div>
  <nav><ul class="menu-1" ng-class="isCollapsed('menu') ? 'menu-collapse' : ''">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About Us</a>
    </li>
    <li>
      <a href="/cells">Cell lines</a>
    </li>
    <li>
      <a href="/data">Data</a>
    </li>
  </ul></nav>
</div>
