<div class="data-portal-block">
<ul class="nav nav-tabs pull-right data-portal-nav-tabs">
<li ng-class="{ active: activeLink('/lines')}"><a href="#/lines"><span class="glyphicon glyphicon-menu-hamburger hidden-xs" aria-hidden="true"></span> Cell Lines</a></li>
<li ng-class="{ active: activeLink('/donors')}"><a href="#/donors"><span class="glyphicon glyphicon-menu-hamburger hidden-xs" aria-hidden="true"></span> Donors</a></li>
<li ng-class="{ active: activeLink('/files')}"><a href="#/files"><span class="glyphicon glyphicon-menu-hamburger hidden-xs" aria-hidden="true"></span> Files</a></li>
<li ng-class="{ active: activeLink('/datasets')}"><a href="#/datasets"><span class="glyphicon glyphicon-menu-hamburger hidden-xs" aria-hidden="true"></span> EGA Datasets</a></li>

</ul>
</div>
<div class="clearfix"></div>
