<div class="panel panel-default">
    <div class="panel-body">

    <h1 ng-bind="ipscName"></h1>
    <h2>HipSci cell line</h2>
    <hr/>

        <div ng-if="apiError">
            <span>API response: {{apiStatus}} {{apiStatusText}}</span>
        </div>

        <div ng-if="apiSuccess">
        <section>
        <dl class="dl-horizontal">

            <div ng-if="data.bankingStatus.length">
                <dt>Banking status:</dt>
                <dd ng-bind="data.bankingStatus.join(', ')"></dd>
            </div>

            <div ng-if="data.donor.name">
                <dt>Donor:</dt>
                <dd><a ng-href="#/donors/{{data.donor.name}}" ng-bind="data.donor.name"></a></dd>
            </div>

            <div ng-if="data.diseaseStatus.value">
                <dt>Disease status:</dt>
                <dd ng-bind="data.diseaseStatus.value"></dd>
            </div>

            <div ng-if="data.sourceMaterial.value">
                <dt>Source material:</dt>
                <dd ng-bind="data.sourceMaterial.value"></dd>
            </div>

            <div ng-if="data.tissueProvider">
                <dt>Tissue provider:</dt>
                <dd ng-bind="data.tissueProvider"></dd>
            </div>

            <div ng-if="data.reprogramming.methodOfDerivation">
                <dt>Method of derivation:</dt>
                <dd ng-bind="data.reprogramming.methodOfDerivation"></dd>
            </div>

            <div ng-if="data.reprogramming.dateOfDerivation">
                <dt>Date of derivation:</dt>
                <dd ng-bind="data.reprogramming.dateOfDerivation"></dd>
            </div>

            <div ng-if="data.donor.age">
                <dt>Donor age:</dt>
                <dd ng-bind="data.donor.age"></dd>
            </div>

            <div ng-if="data.donor.ethnicity">
                <dt>Donor ethnicity:</dt>
                <dd ng-bind="data.donor.ethnicity"></dd>
            </div>

            <div ng-if="data.donor.sex.value">
                <dt>Donor sex:</dt>
                <dd ng-bind="data.donor.sex.value"></dd>
            </div>

            <div ng-if="data.bioSamplesAccession">
                <dt>Biosample:</dt>
                <dd><a ng-href="http://www.ebi.ac.uk/biosamples/sample/{{data.bioSamplesAccession}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.bioSamplesAccession"></span></a></dd>
            </div>
        </dl>
        </section>

        <section ng-if="!jQuery.isEmptyObject(data.assays) || data.hlaTyping">
        <h3 class="item-detail-section">Genomic assays</h3>
        <hr/>
        <dl class="dl-horizontal">
            <div ng-if="data.assays.gtarray">
                <dt>Genotyping microarray:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays.gtarray)}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.assays.gtarray.study"></span></a></dd>
            </div>
            <div ng-if="data.assays.gexarray">
                <dt>Gene expression microarray:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays.gexarray)}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.assays.gexarray.study"></span></a></dd>
            </div>
            <div ng-if="data.assays.exomeseq">
                <dt>Exome sequencing:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays.exomeseq)}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.assays.exomeseq.study"></span></a></dd>
            </div>
            <div ng-if="data.assays.rnaseq">
                <dt>RNA sequencing:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays.rnaseq)}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.assays.rnaseq.study"></span></a></dd>
            </div>
            <div ng-if="data.assays.mtarray">
                <dt>Methylation profiling microarray:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays.mtarray)}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <span ng-bind="data.assays.mtarray.study"></span></a></dd>
            </div>
            <div ng-if="data.assays.proteomics">
                <dt>Proteomics:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays.proteomics)}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Data on FTP site</a></dd>
            </div>
            <div ng-if="data.assays['cellbiol-fn']">
                <dt>Cellular phenotyping:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.assays['cellbiol-fn'])}}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Data on FTP site</a></dd>
            </div>
        </dl>
        <div ng-if="data.hlaTyping">
            <dl class="dl-horizontal">
                <dt>HLA typing from imputed genotypes:</dt>
                <dd><a ng-href="{{LineCtrl.assayToHref(data.hlaTyping)}}" target="_blank">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    <span ng-switch="data.hlaTyping.archive">
                    <span ng-switch-when="FTP">Data on FTP site</span>
                    <span ng-switch-default ng-bind="data.hlaTyping.study"></span>
                    </span>
                    </a></dd>
            </dl>
        </div>
        </section>


        <section ng-if="data.pluritest">
        <h3 class="item-detail-section">Pluritest assessment for pluripotency</h3>
        <hr/>
        <dl class="dl-horizontal">
            <div ng-if="data.pluritest.hasOwnProperty('pluripotency')">
                <dt>Pluripotency score:</dt>
                <dd ng-bind="data.pluritest.pluripotency"></dd>
            </div>
            <div ng-if="data.pluritest.hasOwnProperty('novelty')">
                <dt>Novelty score:</dt>
                <dd ng-bind="data.pluritest.novelty"></dd>
            </div>

            <div class="row">
            <div class="col-md-6" ng-if="data.pluritest.hasOwnProperty('pluripotency_image')">
                <div class="item-detail-img">
                <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{data.pluritest.pluripotency_image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{data.pluritest.pluripotency_image}}" alt="Pluritest pluripotency plot"></img></a>
                </div>
            </div>
            <div class="col-md-6" ng-if="data.pluritest.hasOwnProperty('novelty_image')">
                <div class="item-detail-img">
                <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{data.pluritest.novelty_image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{data.pluritest.novelty_image}}" alt="Pluritest novelty plot"></img></a>
                </div>
            </div>
            </div>
        </dl>
        </section>

        <section ng-if="data.cnv">
        <h3 class="item-detail-section">Custom CNV check</h3>
        <hr/>
        <dl class="dl-horizontal dl-horizontal-wide">
            <div ng-if="data.cnv.hasOwnProperty('num_different_regions')">
                <dt>Number of regions different from primary tissue:</dt>
                <dd ng-bind="data.cnv.num_different_regions"></dd>
            </div>
            <div ng-if="data.cnv.hasOwnProperty('length_different_regions_Mbp')">
                <dt>Length of differences from primary tissue:</dt>
                <dd><span ng-bind="data.cnv.length_different_regions_Mbp"></span> Mbp</dd>
            </div>
            <div class="row">
            <div class="col-md-6" ng-repeat="image in data.cnv.aberrant_images">
                <div class="item-detail-img">
                <a ng-href="ftp://ftp.hipsci.ebi.ac.uk{{image}}"><img class="img-responsive center-block" ng-src="http://ftp.hipsci.ebi.ac.uk{{image}}" alt="Pluritest novelty plot"></img></a>
                </div>
            </div>
            </div>
        </dl>
        </section>

        </div>


    </div>
</div>
